.section-intro {
  display: flex;
  margin-top: 15vh;
  margin-bottom: 30vh;
  justify-content: space-between;
}

.info {
  font-size: 1.5rem;
  flex-basis: 50%;
  margin-top: 10rem;
  padding-left: 1rem;
}

.img {
  width: 30rem;
  height: 15rem;
  padding-top: 5%;
}

.para {
  font-family: sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding: 0 5rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}

.blog {
  border: 3px solid #f0b575;
  border-radius: 10px;
  width: 70vw;
  padding: 0 1rem;
  text-decoration: none;
}

.heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0 0 0;
}

.desc {
  font-family: sans-serif;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
