.nav__items {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.nav__item {
  margin: 0 1rem;
  padding-right: 3rem;
  font-size: 1.2rem;
}

.nav__item a {
  text-decoration: none;
  color: var(--dark-color);
}

.nav__item a:hover {
  padding-bottom: 7.5px;
  border-bottom: 2.5px solid var(--border-color);
}
